body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 8px;
    margin: 0 ;
    list-style: none;
    font-weight: bold;
    color: white;
 
}

.container {
    background-color: white;
    padding: 8px;
    margin: 0;
    height: 300 px;
}

nav > ul {
    margin: 0;
}

nav {
 background-color:black;
    text-align: center;
}

header {
   background: black;
    text-align: center;
}

#title {
    font-family: Montserrat, sans-serif;
font-size: 50px;
    color: white;
}

#name {
      font-family: 'Homemade Apple', cursive;
  font-size: 50px;
    color: white;
}


nav ul li, footer ul li {
    display: inline-block;
/*     margin-right: 20px; */
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 12px;
 background: black;    
    text-align: center;
     display: flex;
    height: 100px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 12px;
}

ul.posts li {
    list-style: none;
}
