<header class="site-header">

    {% if site.logo != null %}
    <p class="site-logo">
        <a href="{{ site.baseurl }}/" rel="home">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" />
        </a>
    </p>
    <h1 class="site-title screen-reader-text">
        <a href="{{ site.baseurl }}" rel="home">{{site.title}}</a>
    </h1>
    {% else %}
    <h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home">{{site.name}}</a></h1>
    {% endif %}

    <a class="sidebar-toggle">
        <span class="screen-reader-text">Menu and Widgets</span>
        <span class="icon" aria-hidden="true"></span>
    </a>

</header><!-- .site-header -->