<section class="subscribe-box">
    <div class="inner">
        
        <h2 class="subscribe-box-title">Subscribe to {{ site.name }} newsletter</h2>
        <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>

        <!-- Begin MailChimp Signup Form -->
        <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form" class="validate gh-subscribe-form" target="_blank" novalidate>

            <label for="mce-EMAIL" class="screen-reader-text">
                Email Address
            </label>

            <input type="email" value="" name="EMAIL" class="required email subscribe-email confirm" id="mce-EMAIL"
                placeholder="Your email address">

            <button type="submit" value="Subscribe" name="subscribe"
                id="mc-embedded-subscribe"><span>Subscribe</span></button>
        </form>

    </div><!-- .inner -->
</section><!-- .subscribe-box -->