/**
 * 3. Structure
 * ----------------------------------------------------------------------------
 */

.site {
	overflow: hidden;
	position: relative;
}

.inner {
	margin: 0 auto;
	max-width: 720px;
	padding: 0 30px;
}