<!DOCTYPE html>
<html>

<head>
  <title>Bekah Hawrot Weigel Life and Code</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
    @import url('https://fonts.googleapis.com/css?family=Exo+2:200');
    @import url('https://fonts.googleapis.com/css?family=Exo+2:200|Quicksand');
    @import url('https://fonts.googleapis.com/css?family=Gudea|Heebo|Work+Sans');
    @import url('https://fonts.googleapis.com/css?family=Gudea|Work+Sans');
    @import url('https://fonts.googleapis.com/css?family=Gudea|Poppins|Work+Sans');
    @import url('https://fonts.googleapis.com/css?family=Gudea|Poppins|Rozha+One|Work+Sans');
    @import url('https://fonts.googleapis.com/css?family=Charmonman|Cormorant+Upright|PT+Sans|Poiret+One|Ranga|Sacramento|Sedgwick+Ave|Srisakdi');
  </style>
</head>

<body>
  <nav>
    <ul>
      <li><a class="nav" href="/">Home</a></li>
      <li><a class="nav" href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a class="nav" href="/blog">Blog</a></li>
    </ul>
  </nav>
  <header>
    <!-- <div class="img_container"> -->
    <!-- <img id="header_img" src='https://picsum.photos/500/300?image=961'> -->
    <!-- <img id="header_img" src='https://picsum.photos/500/300?image=830'> -->
    <!-- <img id="header_img" src='https://picsum.photos/500/300?image=918'> -->
    <!-- <div class='hero-image'>

      <div id="headline_name">BekahHW</div>
      <div id="line">____________</div>
      <div id="headline">A Coder's Journey</div>
    </div> -->
  </header>

  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:rhawrot@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/BekahHW"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/BekahHW"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/bekahhawrot/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/bekah-hawrot-weigel-33046419/"><i class="fa fa-linkedin"
            aria-hidden="true"></i></a></li>
    </ul>
  </footer>
</body>

</html>